.form-field {
  width: 50%;
  margin: auto;
  margin-bottom: 30px;
}

.container {
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.center, mat-form-field{
  width: 50%;
  margin: auto;
  margin-bottom: 20px;
}

.form-hobbies {
  display: flex;
  margin: auto;
  width: 100%;
}


