

<mat-toolbar>
  <button mat-icon-button routerLink="home" routerLinkActive="active">
    <mat-icon>home</mat-icon>
  </button>
  <button mat-button class="menu-link" routerLink="blog" routerLinkActive="active">Blog</button>
  <button mat-button class="menu-link" routerLink="store" routerLinkActive="active">Appareil</button>
  <button mat-button class="menu-link" routerLink="contact" routerLinkActive="active">Contact</button>
  <button mat-raised-button class="menu-link spacer" routerLink="auth" routerLinkActive="active" color="accent">Auth</button>
</mat-toolbar>


<router-outlet></router-outlet>



