<mat-card  class="post-card">
  <mat-card-header>
    <div mat-card-avatar class="post-avatar"></div>
    <mat-card-title> <input type="text" [(ngModel)]="appareilName"> </mat-card-title>
    <mat-card-subtitle>{{createdAt | date: "fullDate"}} <a [routerLink]= "[id]"> voir détail </a></mat-card-subtitle>
  </mat-card-header>
  <mat-card-content [ngStyle]="{'color': color()}" class="p-left">
    Statut : {{getReadableStatus()}}
    <mat-slide-toggle
          class="p-left"
          [(ngModel)]="appareilStatus">
      </mat-slide-toggle>
  </mat-card-content>
</mat-card>
